$primary-color: #4287f5;
$button-hover-color: darken($primary-color, 10%);

header {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: white;
    padding: 1rem;

    .navbar-logo {
      width: 150px;
      height: 150px;
    }

    .auth-buttons {
      display: flex;
      gap: 1rem;
      align-items: center;

      .register-button,
      .logout-button,
      .login-button {
        font-size: 1rem;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        .mat-icon {
          font-size: 1rem;
        }

        &:hover {
          background-color: $button-hover-color;
        }
      }
    }

    .menu-and-auth {
      display: flex;
      align-items: center;

      .menu-button {
        font-size: 1.5rem;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    @media (max-width: 768px) {
      .navbar {
        flex-direction: row-reverse;
        padding: 1rem;

        .menu-button {
          display: block;
          margin-bottom: 1rem;
          align-self: flex-end;
        }

        .auth-buttons {
          flex-direction: column;
          align-items: center;

          .register-button,
          .login-button {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
